@import "tailwindcss";


.concavity-left-border::before {
  content: "";
  position: absolute;
  border: var(--color-amber-900) 4px solid;
  border-radius: 50%;
  height: 250%;
  aspect-ratio: 1;
  top: -200%;
  left: -100px;
  transform: translateY(50%);
  z-index: 5;
}

.concavity-left-border {
  position: relative;
  overflow: hidden;
  animation: slide-from-left ease-in 300ms;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

.concavity-left {
  -webkit-mask-image: radial-gradient(#0000 50%, #bb8e8e 50%), linear-gradient(#000, #000);
  mask-image: radial-gradient(#0000 50%, #bb8e8e 50%), linear-gradient(#000, #000);
  -webkit-mask-position: -124%, 100%;
  mask-position: -124%, 100%;
  -webkit-mask-size:
    61% 300%,
    90% 100%;
  mask-size:
    61% 300%,
    90% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-source-type: alpha, alpha;
  mask-mode: alpha, alpha;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
  height: 44px;
  white-space: nowrap;
  display: block;
  background-color: lab(53 24.86 56.45 / 0.43);
  @apply max-w-full;
}
